.restart-button {
  display: block;
  margin: 100px auto 0;
  padding: 10px 20px;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;

  :hover {
    background-color: #c5e1a5;
  }
}
