.average-container {
    margin-bottom: 80px;
    margin-top: 80px;
    margin-right: 120px;
    margin-left: 120px;
  }
  
  .average {
    background-color: #00BFFF;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }
  