.add-word-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  input {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    width: 300px;
  }
  
  button {
    font-size: 18px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  